<h1>Hello wold</h1>
<% @messages.each do |m| %>
  <p><%= m.username %> : <%= m.content %></p>
<% end %>

<div class="container">
  <%= form_for Message.new, :url => room_messages_path(params[:room_id]) do |i|%>

    <% unless session[:username] %>
      <%= i.text_field :username, placeholder: "Username" %>
      <% end %>
    <%= i.text_field :content, class: "form-control", placeholder: "Message" %><br />
    <%= i.submit "Send", class: "btn btn-success" %>
  <% end %>
</div>
