<h1>Hello wold</h1>
  <div class="messages">
  <% @messages.each do |m| %>
      <p><strong><%= m.username %>:</strong> <%= m.content %></p>
  <% end %>
  </div>

  <div class="container">
    <% form_for Message.new, :url => room_messages_path(params[:room_id]) %>
      <% unless session[:username] %>
        <%= i.text_field :username, placeholder: "Username" %>
        <% end %>
      <%= i.text_field :content, class: "form-control", placeholder: "Message" %><br />
      <%= i.submit "Send", class: "btn btn-success" %>
    <% end %>
  </div>

  <script type="text/javascript" charset="utf-8>">
    setInterval(updateMessages, 3000);
  </script>
