<h1>Hello wold</h1>
<div class="messages">
<% @messages.each do |m| %>
  <p class="message"><%= m.username %> : <%= m.content %></p>
<% end %>
</div>

<div class="container">
  <%= form_for Message.new, :url => room_messages_path(params[:room_id]) do |i|%>

    <% unless session[:username] %>
      <%= i.text_field :username, placeholder: "Username" %>
      <% end %>
    <%= i.text_field :content, class: "form-control", placeholder: "Message" %><br />
    <%= i.submit "Send", class: "btn btn-success" %>
  <% end %>
</div>


<script type="text/javascript" charset="utf-8>">
  function updateMessages(){
      $.getJSON(window.location.pathname + ".json", function(messages)  {
        e = $('.messages')
        e.html('')
        for (i in messages){
          message = messages[i]
          e.append("<div class='message'><strong>" + message.username + ":</strong> " + message.content + "</div>")
      }
    })
  }

  setInterval(updateMessages, 3000)
</script>
